@use 'sass:math';
@use 'sass:map';
@use 'sass:color';
$header: (
    height: 60px
);
$main: (
    height: calc(100vh - map.get($header, height)),
    padding: 0,
);
@forward 'element-plus/theme-chalk/src/common/var.scss' with ($header: $header, $main: $main);