pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 0.375rem;
  margin-bottom: 1.7142857em;
  margin-top: 1.7142857em;
  overflow-x: auto;
  padding: 0.8571429em 1.1428571em;
}

.light pre {
  background-color: #f5f5f5;
}

.dark pre {
  background-color: #2d2d2d;
}
